.header{
	background-color: #ff4000;
	height: 90px;
	color: white;
}
.main{
	background-color:  #99ffcc;
	height: 600px;
}
.footer{
	background-color: #ffcc99;
	height: 270px;
}
.header-logo{
	font-size: 36px;
	padding: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	float: left;
}
li{
	float: left;
	list-style: none;
	padding-top: 35px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

